@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mv3fw8');
  src:  url('../fonts/icomoon.eot?mv3fw8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mv3fw8') format('truetype'),
    url('../fonts/icomoon.woff?mv3fw8') format('woff'),
    url('../fonts/icomoon.svg?mv3fw8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniF19F:before {
  content: "\f19f";
}
.icon-uniF14E:before {
  content: "\f14e";
}
.icon-uniF136:before {
  content: "\f136";
}
.icon-uniF12A:before {
  content: "\f12a";
}
.icon-uniF110:before {
  content: "\f110";
}
.icon-uniF127:before {
  content: "\f127";
}
.icon-uniF114:before {
  content: "\f114";
}
.icon-uniF179:before {
  content: "\f179";
}
.icon-uniF112:before {
  content: "\f112";
}
.icon-uniF14B:before {
  content: "\f14b";
}
.icon-uniF159:before {
  content: "\f159";
}
.icon-uniF148:before {
  content: "\f148";
}
.icon-uniF118:before {
  content: "\f118";
}
.icon-uniF124:before {
  content: "\f124";
}
.icon-uniF108:before {
  content: "\f108";
}
.icon-uniF17E:before {
  content: "\f17e";
}
.icon-uniF161:before {
  content: "\f161";
}
.icon-uniF18D:before {
  content: "\f18d";
}
.icon-uniF192:before {
  content: "\f192";
}
.icon-uniF101:before {
  content: "\f101";
}
.icon-uniF16B:before {
  content: "\f16b";
}
.icon-uniF162:before {
  content: "\f162";
}
.icon-uniF173:before {
  content: "\f173";
}
.icon-uniF150:before {
  content: "\f150";
}
.icon-uniF163:before {
  content: "\f163";
}
.icon-uniF195:before {
  content: "\f195";
}
.icon-uniF103:before {
  content: "\f103";
}
.icon-uniF153:before {
  content: "\f153";
}
.icon-uniF144:before {
  content: "\f144";
}
.icon-uniF160:before {
  content: "\f160";
}
.icon-uniF10B:before {
  content: "\f10b";
}
.icon-uniF134:before {
  content: "\f134";
}
.icon-uniF10E:before {
  content: "\f10e";
}
.icon-uniF171:before {
  content: "\f171";
}
.icon-uniF191:before {
  content: "\f191";
}
.icon-uniF11A:before {
  content: "\f11a";
}
.icon-uniF115:before {
  content: "\f115";
}
.icon-uniF168:before {
  content: "\f168";
}
.icon-uniF194:before {
  content: "\f194";
}
.icon-uniF197:before {
  content: "\f197";
}
.icon-uniF133:before {
  content: "\f133";
}
.icon-uniF172:before {
  content: "\f172";
}
.icon-uniF14F:before {
  content: "\f14f";
}
.icon-uniF11B:before {
  content: "\f11b";
}
.icon-uniF132:before {
  content: "\f132";
}
.icon-uniF135:before {
  content: "\f135";
}
.icon-uniF120:before {
  content: "\f120";
}
.icon-uniF184:before {
  content: "\f184";
}
.icon-uniF187:before {
  content: "\f187";
}
.icon-uniF164:before {
  content: "\f164";
}
.icon-uniF11C:before {
  content: "\f11c";
}
.icon-uniF149:before {
  content: "\f149";
}
.icon-uniF11E:before {
  content: "\f11e";
}
.icon-uniF17C:before {
  content: "\f17c";
}
.icon-uniF167:before {
  content: "\f167";
}
.icon-uniF18C:before {
  content: "\f18c";
}
.icon-uniF198:before {
  content: "\f198";
}
.icon-uniF109:before {
  content: "\f109";
}
.icon-uniF17D:before {
  content: "\f17d";
}
.icon-uniF15C:before {
  content: "\f15c";
}
.icon-uniF129:before {
  content: "\f129";
}
.icon-uniF122:before {
  content: "\f122";
}
.icon-uniF13C:before {
  content: "\f13c";
}
.icon-uniF10D:before {
  content: "\f10d";
}
.icon-uniF14A:before {
  content: "\f14a";
}
.icon-uniF18F:before {
  content: "\f18f";
}
.icon-uniF142:before {
  content: "\f142";
}
.icon-uniF102:before {
  content: "\f102";
}
.icon-uniF18B:before {
  content: "\f18b";
}
.icon-uniF155:before {
  content: "\f155";
}
.icon-uniF15B:before {
  content: "\f15b";
}
.icon-uniF17A:before {
  content: "\f17a";
}
.icon-uniF14C:before {
  content: "\f14c";
}
.icon-uniF113:before {
  content: "\f113";
}
.icon-uniF151:before {
  content: "\f151";
}
.icon-uniF13A:before {
  content: "\f13a";
}
.icon-uniF15A:before {
  content: "\f15a";
}
.icon-uniF180:before {
  content: "\f180";
}
.icon-uniF158:before {
  content: "\f158";
}
.icon-uniF15E:before {
  content: "\f15e";
}
.icon-uniF125:before {
  content: "\f125";
}
.icon-uniF104:before {
  content: "\f104";
}
.icon-uniF169:before {
  content: "\f169";
}
.icon-uniF152:before {
  content: "\f152";
}
.icon-uniF19B:before {
  content: "\f19b";
}
.icon-uniF16C:before {
  content: "\f16c";
}
.icon-uniF12B:before {
  content: "\f12b";
}
.icon-uniF188:before {
  content: "\f188";
}
.icon-uniF10F:before {
  content: "\f10f";
}
.icon-uniF177:before {
  content: "\f177";
}
.icon-uniF14D:before {
  content: "\f14d";
}
.icon-uniF12D:before {
  content: "\f12d";
}
.icon-uniF15F:before {
  content: "\f15f";
}
.icon-uniF117:before {
  content: "\f117";
}
.icon-uniF12F:before {
  content: "\f12f";
}
.icon-uniF111:before {
  content: "\f111";
}
.icon-uniF157:before {
  content: "\f157";
}
.icon-uniF13E:before {
  content: "\f13e";
}
.icon-uniF181:before {
  content: "\f181";
}
.icon-uniF16A:before {
  content: "\f16a";
}
.icon-uniF131:before {
  content: "\f131";
}
.icon-uniF19E:before {
  content: "\f19e";
}
.icon-uniF183:before {
  content: "\f183";
}
.icon-uniF141:before {
  content: "\f141";
}
.icon-uniF189:before {
  content: "\f189";
}
.icon-uniF199:before {
  content: "\f199";
}
.icon-uniF12E:before {
  content: "\f12e";
}
.icon-uniF107:before {
  content: "\f107";
}
.icon-uniF19A:before {
  content: "\f19a";
}
.icon-uniF165:before {
  content: "\f165";
}
.icon-uniF182:before {
  content: "\f182";
}
.icon-uniF139:before {
  content: "\f139";
}
.icon-uniF16D:before {
  content: "\f16d";
}
.icon-uniF143:before {
  content: "\f143";
}
.icon-uniF176:before {
  content: "\f176";
}
.icon-uniF116:before {
  content: "\f116";
}
.icon-uniF196:before {
  content: "\f196";
}
.icon-uniF175:before {
  content: "\f175";
}
.icon-uniF174:before {
  content: "\f174";
}
.icon-uniF106:before {
  content: "\f106";
}
.icon-uniF128:before {
  content: "\f128";
}
.icon-uniF18A:before {
  content: "\f18a";
}
.icon-uniF105:before {
  content: "\f105";
}
.icon-uniF154:before {
  content: "\f154";
}
.icon-uniF126:before {
  content: "\f126";
}
.icon-uniF10A:before {
  content: "\f10a";
}
.icon-uniF12C:before {
  content: "\f12c";
}
.icon-uniF17B:before {
  content: "\f17b";
}
.icon-uniF146:before {
  content: "\f146";
}
.icon-uniF16F:before {
  content: "\f16f";
}
.icon-uniF15D:before {
  content: "\f15d";
}
.icon-uniF178:before {
  content: "\f178";
}
.icon-uniF11F:before {
  content: "\f11f";
}
.icon-uniF156:before {
  content: "\f156";
}
.icon-uniF10C:before {
  content: "\f10c";
}
.icon-uniF18E:before {
  content: "\f18e";
}
.icon-uniF1A0:before {
  content: "\f1a0";
}
.icon-uniF11D:before {
  content: "\f11d";
}
.icon-uniF193:before {
  content: "\f193";
}
.icon-uniF1A1:before {
  content: "\f1a1";
}
.icon-uniF100:before {
  content: "\f100";
}
.icon-uniF123:before {
  content: "\f123";
}
.icon-uniF190:before {
  content: "\f190";
}
.icon-uniF170:before {
  content: "\f170";
}
.icon-uniF130:before {
  content: "\f130";
}
.icon-uniF186:before {
  content: "\f186";
}
.icon-uniF19C:before {
  content: "\f19c";
}
.icon-uniF16E:before {
  content: "\f16e";
}
.icon-uniF137:before {
  content: "\f137";
}
.icon-uniF140:before {
  content: "\f140";
}
.icon-uniF17F:before {
  content: "\f17f";
}
.icon-uniF138:before {
  content: "\f138";
}
.icon-uniF166:before {
  content: "\f166";
}
.icon-uniF145:before {
  content: "\f145";
}
.icon-uniF121:before {
  content: "\f121";
}
.icon-uniF147:before {
  content: "\f147";
}
.icon-uniF13B:before {
  content: "\f13b";
}
.icon-uniF13D:before {
  content: "\f13d";
}
.icon-uniF185:before {
  content: "\f185";
}
.icon-uniF19D:before {
  content: "\f19d";
}
.icon-uniF13F:before {
  content: "\f13f";
}
.icon-uniF119:before {
  content: "\f119";
}
.icon-code:before {
  content: "\f1a2";
}
.icon-chain:before {
  content: "\f1a3";
}
.icon-chevron-circle-right:before {
  content: "\f1a4";
}
.icon-dollar:before {
  content: "\f1bb";
}
.icon-crosshairs:before {
  content: "\f1ac";
}
.icon-gg:before {
  content: "\f210";
}
.icon-legal:before {
  content: "\f25e";
}
.icon-angle-double-left:before {
  content: "\f1a5";
}
.icon-flash:before {
  content: "\f1fa";
}
.icon-foursquare:before {
  content: "\f206";
}
.icon-hourglass-2:before {
  content: "\f23c";
}
.icon-hourglass-3:before {
  content: "\f23d";
}
.icon-th:before {
  content: "\f339";
}
.icon-angle-left:before {
  content: "\f1a6";
}
.icon-recycle:before {
  content: "\f2d2";
}
.icon-file-code-o:before {
  content: "\f1e2";
}
.icon-thumb-tack:before {
  content: "\f33c";
}
.icon-fax:before {
  content: "\f1dc";
}
.icon-xing-square:before {
  content: "\f383";
}
.icon-hospital-o:before {
  content: "\f238";
}
.icon-volume-up:before {
  content: "\f375";
}
.icon-spoon:before {
  content: "\f312";
}
.icon-facebook:before {
  content: "\f1d7";
}
.icon-cloud-download:before {
  content: "\f1a7";
}
.icon-trophy:before {
  content: "\f351";
}
.icon-caret-up2:before {
  content: "\f1a8";
}
.icon-magic:before {
  content: "\f276";
}
.icon-hourglass-o:before {
  content: "\f240";
}
.icon-balance-scale:before {
  content: "\f1a9";
}
.icon-upload:before {
  content: "\f362";
}
.icon-magnet:before {
  content: "\f277";
}
.icon-adjust:before {
  content: "\f1aa";
}
.icon-subway:before {
  content: "\f329";
}
.icon-chevron-down:before {
  content: "\f1ab";
}
.icon-location-arrow:before {
  content: "\f270";
}
.icon-check-circle:before {
  content: "\f1ad";
}
.icon-arrow-down:before {
  content: "\f1ae";
}
.icon-bicycle:before {
  content: "\f1af";
}
.icon-instagram:before {
  content: "\f24d";
}
.icon-caret-square-o-up:before {
  content: "\f1b0";
}
.icon-crop:before {
  content: "\f1b1";
}
.icon-external-link:before {
  content: "\f1d2";
}
.icon-arrow-circle-down:before {
  content: "\f1b2";
}
.icon-paper-plane:before {
  content: "\f2a8";
}
.icon-meanpath:before {
  content: "\f287";
}
.icon-long-arrow-left:before {
  content: "\f273";
}
.icon-download:before {
  content: "\f1bd";
}
.icon-bold:before {
  content: "\f1b3";
}
.icon-caret-down2:before {
  content: "\f1b4";
}
.icon-chevron-left:before {
  content: "\f1b5";
}
.icon-font:before {
  content: "\f202";
}
.icon-pinterest:before {
  content: "\f2ba";
}
.icon-cart-plus:before {
  content: "\f1b6";
}
.icon-folder-open-o:before {
  content: "\f201";
}
.icon-tachometer:before {
  content: "\f32f";
}
.icon-creative-commons:before {
  content: "\f1b7";
}
.icon-clipboard:before {
  content: "\f1b8";
}
.icon-bar-chart:before {
  content: "\f1b9";
}
.icon-reply:before {
  content: "\f2da";
}
.icon-hourglass-half:before {
  content: "\f23f";
}
.icon-graduation-cap:before {
  content: "\f21e";
}
.icon-info-circle:before {
  content: "\f24b";
}
.icon-exchange:before {
  content: "\f1cc";
}
.icon-hand-o-up:before {
  content: "\f228";
}
.icon-pause:before {
  content: "\f2ad";
}
.icon-paypal:before {
  content: "\f2af";
}
.icon-github-square:before {
  content: "\f217";
}
.icon-search:before {
  content: "\f2eb";
}
.icon-flask:before {
  content: "\f1fb";
}
.icon-pinterest-square:before {
  content: "\f2bc";
}
.icon-fast-backward:before {
  content: "\f1da";
}
.icon-code-fork:before {
  content: "\f1ba";
}
.icon-tasks:before {
  content: "\f332";
}
.icon-firefox:before {
  content: "\f1f6";
}
.icon-apple:before {
  content: "\f1bc";
}
.icon-gamepad:before {
  content: "\f209";
}
.icon-cc-stripe:before {
  content: "\f1be";
}
.icon-quote-left:before {
  content: "\f2cd";
}
.icon-user-times:before {
  content: "\f368";
}
.icon-plus-square-o:before {
  content: "\f2c5";
}
.icon-eye-slash:before {
  content: "\f1d5";
}
.icon-trello:before {
  content: "\f34f";
}
.icon-dribbble:before {
  content: "\f1bf";
}
.icon-user-secret:before {
  content: "\f367";
}
.icon-cloud:before {
  content: "\f1c0";
}
.icon-usd:before {
  content: "\f363";
}
.icon-eye:before {
  content: "\f1d4";
}
.icon-certificate:before {
  content: "\f1c1";
}
.icon-500px:before {
  content: "\f1c2";
}
.icon-camera:before {
  content: "\f1c3";
}
.icon-music:before {
  content: "\f299";
}
.icon-gg-circle:before {
  content: "\f211";
}
.icon-sort:before {
  content: "\f306";
}
.icon-pencil:before {
  content: "\f2b0";
}
.icon-bookmark-o:before {
  content: "\f1c4";
}
.icon-diamond:before {
  content: "\f1c5";
}
.icon-share:before {
  content: "\f2f0";
}
.icon-hourglass-1:before {
  content: "\f23b";
}
.icon-envelope:before {
  content: "\f1c6";
}
.icon-yahoo:before {
  content: "\f386";
}
.icon-glass:before {
  content: "\f218";
}
.icon-flag:before {
  content: "\f1f7";
}
.icon-train:before {
  content: "\f349";
}
.icon-bullhorn:before {
  content: "\f1c7";
}
.icon-folder:before {
  content: "\f1fe";
}
.icon-outdent:before {
  content: "\f2a5";
}
.icon-stumbleupon:before {
  content: "\f326";
}
.icon-i-cursor:before {
  content: "\f244";
}
.icon-car:before {
  content: "\f1c8";
}
.icon-file-excel-o:before {
  content: "\f1e3";
}
.icon-arrow-circle-o-left:before {
  content: "\f1c9";
}
.icon-paragraph:before {
  content: "\f2ab";
}
.icon-file-photo-o:before {
  content: "\f1e8";
}
.icon-y-combinator:before {
  content: "\f384";
}
.icon-cab:before {
  content: "\f1ca";
}
.icon-male:before {
  content: "\f27b";
}
.icon-history:before {
  content: "\f236";
}
.icon-h-square:before {
  content: "\f221";
}
.icon-heart:before {
  content: "\f233";
}
.icon-sort-amount-desc:before {
  content: "\f30a";
}
.icon-search-plus:before {
  content: "\f2ed";
}
.icon-life-ring:before {
  content: "\f264";
}
.icon-lock:before {
  content: "\f271";
}
.icon-git-square:before {
  content: "\f214";
}
.icon-mouse-pointer:before {
  content: "\f298";
}
.icon-mail-forward:before {
  content: "\f278";
}
.icon-sign-in:before {
  content: "\f2fb";
}
.icon-odnoklassniki-square:before {
  content: "\f2a0";
}
.icon-tag:before {
  content: "\f330";
}
.icon-align-justify:before {
  content: "\f1cb";
}
.icon-level-up:before {
  content: "\f261";
}
.icon-chevron-circle-down:before {
  content: "\f1cd";
}
.icon-filter:before {
  content: "\f1f3";
}
.icon-sticky-note-o:before {
  content: "\f322";
}
.icon-moon-o:before {
  content: "\f295";
}
.icon-comments-o:before {
  content: "\f1ce";
}
.icon-lastfm:before {
  content: "\f25a";
}
.icon-pagelines:before {
  content: "\f2a6";
}
.icon-list-ul:before {
  content: "\f26f";
}
.icon-file-word-o:before {
  content: "\f1ef";
}
.icon-map:before {
  content: "\f27c";
}
.icon-object-ungroup:before {
  content: "\f29e";
}
.icon-briefcase:before {
  content: "\f1cf";
}
.icon-stop:before {
  content: "\f323";
}
.icon-clone:before {
  content: "\f1d0";
}
.icon-plane:before {
  content: "\f2bd";
}
.icon-check-square:before {
  content: "\f1d1";
}
.icon-unlink:before {
  content: "\f35f";
}
.icon-github:before {
  content: "\f215";
}
.icon-step-backward:before {
  content: "\f31e";
}
.icon-wheelchair:before {
  content: "\f37b";
}
.icon-cutlery:before {
  content: "\f1d3";
}
.icon-microphone-slash:before {
  content: "\f28d";
}
.icon-user-plus:before {
  content: "\f366";
}
.icon-truck:before {
  content: "\f352";
}
.icon-wrench:before {
  content: "\f381";
}
.icon-ambulance:before {
  content: "\f1d6";
}
.icon-cc-visa:before {
  content: "\f1d8";
}
.icon-superscript:before {
  content: "\f32c";
}
.icon-tty:before {
  content: "\f354";
}
.icon-shield:before {
  content: "\f2f7";
}
.icon-user-md:before {
  content: "\f365";
}
.icon-hand-stop-o:before {
  content: "\f22f";
}
.icon-pie-chart:before {
  content: "\f2b7";
}
.icon-align-left:before {
  content: "\f1d9";
}
.icon-motorcycle:before {
  content: "\f297";
}
.icon-ticket:before {
  content: "\f341";
}
.icon-battery-half:before {
  content: "\f1db";
}
.icon-spotify:before {
  content: "\f313";
}
.icon-dot-circle-o:before {
  content: "\f1dd";
}
.icon-facebook-square:before {
  content: "\f1de";
}
.icon-group:before {
  content: "\f220";
}
.icon-angle-up:before {
  content: "\f1df";
}
.icon-paperclip:before {
  content: "\f2aa";
}
.icon-deviantart:before {
  content: "\f1e0";
}
.icon-file-audio-o:before {
  content: "\f1e1";
}
.icon-eur:before {
  content: "\f1e4";
}
.icon-coffee:before {
  content: "\f1e5";
}
.icon-times-circle-o:before {
  content: "\f344";
}
.icon-weixin:before {
  content: "\f379";
}
.icon-yc:before {
  content: "\f387";
}
.icon-y-combinator-square:before {
  content: "\f385";
}
.icon-internet-explorer:before {
  content: "\f24f";
}
.icon-file-video-o:before {
  content: "\f1ee";
}
.icon-angle-double-up:before {
  content: "\f1e6";
}
.icon-safari:before {
  content: "\f2e8";
}
.icon-mail-reply-all:before {
  content: "\f27a";
}
.icon-bank:before {
  content: "\f1e7";
}
.icon-commenting-o:before {
  content: "\f1e9";
}
.icon-black-tie:before {
  content: "\f1ea";
}
.icon-youtube-play:before {
  content: "\f38c";
}
.icon-edit:before {
  content: "\f1eb";
}
.icon-caret-square-o-right:before {
  content: "\f1ec";
}
.icon-arrows:before {
  content: "\f1ed";
}
.icon-refresh:before {
  content: "\f2d5";
}
.icon-file-o:before {
  content: "\f1f0";
}
.icon-battery-0:before {
  content: "\f1f1";
}
.icon-battery-3:before {
  content: "\f1f2";
}
.icon-battery-2:before {
  content: "\f1f4";
}
.icon-battery-4:before {
  content: "\f1f5";
}
.icon-battery-three-quarters:before {
  content: "\f1f8";
}
.icon-square:before {
  content: "\f314";
}
.icon-ellipsis-v:before {
  content: "\f1f9";
}
.icon-list:before {
  content: "\f26c";
}
.icon-globe:before {
  content: "\f219";
}
.icon-strikethrough:before {
  content: "\f325";
}
.icon-comment-o:before {
  content: "\f1fc";
}
.icon-hand-pointer-o:before {
  content: "\f22b";
}
.icon-unlock:before {
  content: "\f360";
}
.icon-arrow-left:before {
  content: "\f1fd";
}
.icon-scissors:before {
  content: "\f2ea";
}
.icon-ellipsis-h:before {
  content: "\f1ff";
}
.icon-exclamation:before {
  content: "\f200";
}
.icon-try:before {
  content: "\f353";
}
.icon-flag-o:before {
  content: "\f203";
}
.icon-battery-quarter:before {
  content: "\f204";
}
.icon-ra:before {
  content: "\f2cf";
}
.icon-print:before {
  content: "\f2c7";
}
.icon-check-circle-o:before {
  content: "\f205";
}
.icon-houzz:before {
  content: "\f242";
}
.icon-lemon-o:before {
  content: "\f25f";
}
.icon-umbrella:before {
  content: "\f35b";
}
.icon-bell-o:before {
  content: "\f207";
}
.icon-cc-diners-club:before {
  content: "\f208";
}
.icon-undo:before {
  content: "\f35d";
}
.icon-shekel:before {
  content: "\f2f5";
}
.icon-rebel:before {
  content: "\f2d1";
}
.icon-venus:before {
  content: "\f36a";
}
.icon-soundcloud:before {
  content: "\f30f";
}
.icon-thumbs-o-down:before {
  content: "\f33e";
}
.icon-bar-chart-o:before {
  content: "\f20a";
}
.icon-indent:before {
  content: "\f248";
}
.icon-language:before {
  content: "\f258";
}
.icon-circle-thin:before {
  content: "\f20b";
}
.icon-drupal:before {
  content: "\f20c";
}
.icon-headphones:before {
  content: "\f232";
}
.icon-cc-mastercard:before {
  content: "\f20d";
}
.icon-times:before {
  content: "\f342";
}
.icon-buysellads:before {
  content: "\f20e";
}
.icon-fonticons:before {
  content: "\f20f";
}
.icon-sort-asc:before {
  content: "\f30b";
}
.icon-folder-open:before {
  content: "\f212";
}
.icon-heartbeat:before {
  content: "\f235";
}
.icon-arrows-v:before {
  content: "\f213";
}
.icon-phone-square:before {
  content: "\f2b4";
}
.icon-text-height:before {
  content: "\f337";
}
.icon-linkedin-square:before {
  content: "\f26a";
}
.icon-delicious:before {
  content: "\f216";
}
.icon-qrcode:before {
  content: "\f2ca";
}
.icon-arrows-h:before {
  content: "\f21a";
}
.icon-mercury:before {
  content: "\f28b";
}
.icon-text-width:before {
  content: "\f338";
}
.icon-envelope-o:before {
  content: "\f21b";
}
.icon-rss-square:before {
  content: "\f2e4";
}
.icon-bookmark:before {
  content: "\f21c";
}
.icon-automobile:before {
  content: "\f21d";
}
.icon-bitcoin:before {
  content: "\f21f";
}
.icon-behance:before {
  content: "\f222";
}
.icon-star-half-o:before {
  content: "\f31a";
}
.icon-keyboard-o:before {
  content: "\f256";
}
.icon-gear:before {
  content: "\f223";
}
.icon-minus-circle:before {
  content: "\f28f";
}
.icon-hotel:before {
  content: "\f239";
}
.icon-sort-numeric-asc:before {
  content: "\f30d";
}
.icon-share-alt:before {
  content: "\f2f1";
}
.icon-shirtsinbulk:before {
  content: "\f2f9";
}
.icon-viacoin:before {
  content: "\f36d";
}
.icon-digg:before {
  content: "\f224";
}
.icon-institution:before {
  content: "\f24e";
}
.icon-rss:before {
  content: "\f2e3";
}
.icon-television:before {
  content: "\f334";
}
.icon-slack:before {
  content: "\f302";
}
.icon-folder-o:before {
  content: "\f225";
}
.icon-bed:before {
  content: "\f226";
}
.icon-caret-square-o-down:before {
  content: "\f227";
}
.icon-paper-plane-o:before {
  content: "\f2a9";
}
.icon-circle-o-notch:before {
  content: "\f229";
}
.icon-medkit:before {
  content: "\f289";
}
.icon-file-zip-o:before {
  content: "\f22a";
}
.icon-calendar-minus-o:before {
  content: "\f22c";
}
.icon-tencent-weibo:before {
  content: "\f335";
}
.icon-navicon:before {
  content: "\f29a";
}
.icon-file-archive-o:before {
  content: "\f22d";
}
.icon-share-alt-square:before {
  content: "\f2f2";
}
.icon-file-movie-o:before {
  content: "\f22e";
}
.icon-building-o:before {
  content: "\f230";
}
.icon-sort-alpha-desc:before {
  content: "\f308";
}
.icon-map-signs:before {
  content: "\f280";
}
.icon-long-arrow-right:before {
  content: "\f274";
}
.icon-microphone:before {
  content: "\f28c";
}
.icon-calendar-check-o:before {
  content: "\f231";
}
.icon-play-circle:before {
  content: "\f2bf";
}
.icon-github-alt:before {
  content: "\f234";
}
.icon-file-sound-o:before {
  content: "\f237";
}
.icon-play:before {
  content: "\f2be";
}
.icon-hand-o-down:before {
  content: "\f23a";
}
.icon-hand-rock-o:before {
  content: "\f23e";
}
.icon-cc-jcb:before {
  content: "\f241";
}
.icon-compress:before {
  content: "\f243";
}
.icon-pencil-square-o:before {
  content: "\f2b2";
}
.icon-google-plus-square:before {
  content: "\f245";
}
.icon-angle-right:before {
  content: "\f246";
}
.icon-rotate-left:before {
  content: "\f2e0";
}
.icon-forumbee:before {
  content: "\f247";
}
.icon-eject:before {
  content: "\f249";
}
.icon-mobile:before {
  content: "\f292";
}
.icon-hourglass-end:before {
  content: "\f24a";
}
.icon-trash-o:before {
  content: "\f34d";
}
.icon-star-o:before {
  content: "\f31b";
}
.icon-floppy-o:before {
  content: "\f24c";
}
.icon-hand-grab-o:before {
  content: "\f250";
}
.icon-cc-discover:before {
  content: "\f251";
}
.icon-bomb:before {
  content: "\f252";
}
.icon-random:before {
  content: "\f2d0";
}
.icon-fire-extinguisher:before {
  content: "\f253";
}
.icon-pencil-square:before {
  content: "\f2b1";
}
.icon-reddit-square:before {
  content: "\f2d4";
}
.icon-arrow-circle-o-down:before {
  content: "\f254";
}
.icon-caret-left:before {
  content: "\f255";
}
.icon-camera-retro:before {
  content: "\f257";
}
.icon-thumbs-o-up:before {
  content: "\f33f";
}
.icon-copy:before {
  content: "\f259";
}
.icon-copyright:before {
  content: "\f25b";
}
.icon-terminal:before {
  content: "\f336";
}
.icon-twitter-square:before {
  content: "\f35a";
}
.icon-photo:before {
  content: "\f2b5";
}
.icon-circle:before {
  content: "\f25c";
}
.icon-columns:before {
  content: "\f25d";
}
.icon-sign-out:before {
  content: "\f2fc";
}
.icon-cube:before {
  content: "\f260";
}
.icon-mars-stroke-v:before {
  content: "\f285";
}
.icon-file-text:before {
  content: "\f262";
}
.icon-amazon:before {
  content: "\f263";
}
.icon-smile-o:before {
  content: "\f305";
}
.icon-compass:before {
  content: "\f265";
}
.icon-list-ol:before {
  content: "\f26e";
}
.icon-stumbleupon-circle:before {
  content: "\f327";
}
.icon-qq:before {
  content: "\f2c9";
}
.icon-yc-square:before {
  content: "\f388";
}
.icon-pied-piper:before {
  content: "\f2b8";
}
.icon-gears:before {
  content: "\f266";
}
.icon-gbp:before {
  content: "\f267";
}
.icon-ban:before {
  content: "\f268";
}
.icon-fighter-jet:before {
  content: "\f269";
}
.icon-space-shuttle:before {
  content: "\f310";
}
.icon-steam:before {
  content: "\f31c";
}
.icon-bars:before {
  content: "\f26b";
}
.icon-lightbulb-o:before {
  content: "\f26d";
}
.icon-map-pin:before {
  content: "\f27f";
}
.icon-circle-o:before {
  content: "\f272";
}
.icon-contao:before {
  content: "\f275";
}
.icon-vine:before {
  content: "\f371";
}
.icon-align-center:before {
  content: "\f279";
}
.icon-rmb:before {
  content: "\f2dd";
}
.icon-bullseye:before {
  content: "\f27d";
}
.icon-btc:before {
  content: "\f27e";
}
.icon-close:before {
  content: "\f281";
}
.icon-calendar:before {
  content: "\f282";
}
.icon-retweet:before {
  content: "\f2dc";
}
.icon-hourglass:before {
  content: "\f283";
}
.icon-weibo:before {
  content: "\f378";
}
.icon-tags:before {
  content: "\f331";
}
.icon-minus-square-o:before {
  content: "\f291";
}
.icon-rouble:before {
  content: "\f2e2";
}
.icon-won:before {
  content: "\f37f";
}
.icon-subscript:before {
  content: "\f328";
}
.icon-flickr:before {
  content: "\f284";
}
.icon-cc-amex:before {
  content: "\f286";
}
.icon-reddit:before {
  content: "\f2d3";
}
.icon-times-circle:before {
  content: "\f343";
}
.icon-tripadvisor:before {
  content: "\f350";
}
.icon-sort-amount-asc:before {
  content: "\f309";
}
.icon-renren:before {
  content: "\f2d7";
}
.icon-arrow-circle-o-right:before {
  content: "\f288";
}
.icon-pinterest-p:before {
  content: "\f2bb";
}
.icon-html5:before {
  content: "\f28a";
}
.icon-key:before {
  content: "\f28e";
}
.icon-picture-o:before {
  content: "\f2b6";
}
.icon-toggle-off:before {
  content: "\f346";
}
.icon-list-alt:before {
  content: "\f290";
}
.icon-cubes:before {
  content: "\f293";
}
.icon-tablet:before {
  content: "\f32e";
}
.icon-credit-card:before {
  content: "\f294";
}
.icon-minus:before {
  content: "\f296";
}
.icon-unlock-alt:before {
  content: "\f361";
}
.icon-ils:before {
  content: "\f29b";
}
.icon-cog:before {
  content: "\f29c";
}
.icon-arrow-right:before {
  content: "\f29d";
}
.icon-cc-paypal:before {
  content: "\f29f";
}
.icon-birthday-cake:before {
  content: "\f2a1";
}
.icon-comment:before {
  content: "\f2a2";
}
.icon-bell:before {
  content: "\f2a3";
}
.icon-cc:before {
  content: "\f2a4";
}
.icon-get-pocket:before {
  content: "\f2a7";
}
.icon-bell-slash-o:before {
  content: "\f2ac";
}
.icon-header:before {
  content: "\f2ae";
}
.icon-linux:before {
  content: "\f2b3";
}
.icon-table:before {
  content: "\f32d";
}
.icon-caret-square-o-left:before {
  content: "\f2b9";
}
.icon-spinner:before {
  content: "\f311";
}
.icon-thumbs-up:before {
  content: "\f340";
}
.icon-tint:before {
  content: "\f345";
}
.icon-connectdevelop:before {
  content: "\f2c0";
}
.icon-chrome:before {
  content: "\f2c1";
}
.icon-trademark:before {
  content: "\f348";
}
.icon-align-right:before {
  content: "\f2c2";
}
.icon-quote-right:before {
  content: "\f2ce";
}
.icon-long-arrow-down:before {
  content: "\f2c3";
}
.icon-beer:before {
  content: "\f2c4";
}
.icon-th-list:before {
  content: "\f33b";
}
.icon-eraser:before {
  content: "\f2c6";
}
.icon-codepen:before {
  content: "\f2c8";
}
.icon-square-o:before {
  content: "\f315";
}
.icon-hourglass-start:before {
  content: "\f2cb";
}
.icon-ruble:before {
  content: "\f2e6";
}
.icon-fire:before {
  content: "\f2cc";
}
.icon-sellsy:before {
  content: "\f2ee";
}
.icon-fast-forward:before {
  content: "\f2d6";
}
.icon-bell-slash:before {
  content: "\f2d8";
}
.icon-commenting:before {
  content: "\f2d9";
}
.icon-inr:before {
  content: "\f2db";
}
.icon-child:before {
  content: "\f2de";
}
.icon-file-text-o:before {
  content: "\f2df";
}
.icon-mortar-board:before {
  content: "\f2e1";
}
.icon-vimeo:before {
  content: "\f36f";
}
.icon-dashboard:before {
  content: "\f2e5";
}
.icon-hand-o-right:before {
  content: "\f2e7";
}
.icon-object-group:before {
  content: "\f2e9";
}
.icon-rotate-right:before {
  content: "\f2ec";
}
.icon-anchor:before {
  content: "\f2ef";
}
.icon-meh-o:before {
  content: "\f2f3";
}
.icon-file-image-o:before {
  content: "\f2f4";
}
.icon-mars-stroke-h:before {
  content: "\f2f6";
}
.icon-calculator:before {
  content: "\f2f8";
}
.icon-vk:before {
  content: "\f372";
}
.icon-odnoklassniki:before {
  content: "\f2fa";
}
.icon-linkedin:before {
  content: "\f2fd";
}
.icon-jpy:before {
  content: "\f2fe";
}
.icon-turkish-lira:before {
  content: "\f357";
}
.icon-skype:before {
  content: "\f301";
}
.icon-envelope-square:before {
  content: "\f2ff";
}
.icon-ship:before {
  content: "\f300";
}
.icon-dashcube:before {
  content: "\f303";
}
.icon-optin-monster:before {
  content: "\f304";
}
.icon-paw:before {
  content: "\f307";
}
.icon-venus-double:before {
  content: "\f36b";
}
.icon-calendar-times-o:before {
  content: "\f30c";
}
.icon-check:before {
  content: "\f30e";
}
.icon-sliders:before {
  content: "\f316";
}
.icon-stack-overflow:before {
  content: "\f317";
}
.icon-file-pdf-o:before {
  content: "\f318";
}
.icon-android:before {
  content: "\f319";
}
.icon-stack-exchange:before {
  content: "\f31d";
}
.icon-twitch:before {
  content: "\f358";
}
.icon-caret-right:before {
  content: "\f31f";
}
.icon-dedent:before {
  content: "\f320";
}
.icon-tree:before {
  content: "\f34e";
}
.icon-gratipay:before {
  content: "\f321";
}
.icon-map-marker:before {
  content: "\f324";
}
.icon-slideshare:before {
  content: "\f32a";
}
.icon-binoculars:before {
  content: "\f32b";
}
.icon-sticky-note:before {
  content: "\f333";
}
.icon-sheqel:before {
  content: "\f33a";
}
.icon-user:before {
  content: "\f364";
}
.icon-ioxhost:before {
  content: "\f33d";
}
.icon-expand:before {
  content: "\f347";
}
.icon-euro:before {
  content: "\f34a";
}
.icon-bitbucket-square:before {
  content: "\f34b";
}
.icon-hand-paper-o:before {
  content: "\f34c";
}
.icon-database:before {
  content: "\f355";
}
.icon-rupee:before {
  content: "\f356";
}
.icon-hacker-news:before {
  content: "\f359";
}
.icon-calendar-plus-o:before {
  content: "\f35c";
}
.icon-hand-lizard-o:before {
  content: "\f35e";
}
.icon-xing:before {
  content: "\f382";
}
.icon-youtube-square:before {
  content: "\f38d";
}
.icon-taxi:before {
  content: "\f369";
}
.icon-sort-desc:before {
  content: "\f36c";
}
.icon-rocket:before {
  content: "\f36e";
}
.icon-yen:before {
  content: "\f38a";
}
.icon-money:before {
  content: "\f370";
}
.icon-laptop:before {
  content: "\f373";
}
.icon-arrows-alt:before {
  content: "\f374";
}
.icon-underline:before {
  content: "\f376";
}
.icon-google-plus:before {
  content: "\f377";
}
.icon-cut:before {
  content: "\f37a";
}
.icon-share-square-o:before {
  content: "\f37c";
}
.icon-street-view:before {
  content: "\f37d";
}
.icon-arrow-circle-up:before {
  content: "\f37e";
}
.icon-plus-square:before {
  content: "\f380";
}
.icon-desktop:before {
  content: "\f389";
}
.icon-expeditedssl:before {
  content: "\f38b";
}
.icon-toggle-on:before {
  content: "\f38e";
}
.icon-minus-square:before {
  content: "\f38f";
}
.icon-adn:before {
  content: "\f390";
}
.icon-whatsapp:before {
  content: "\f391";
}
.icon-save:before {
  content: "\f392";
}
.icon-puzzle-piece:before {
  content: "\f393";
}
.icon-css3:before {
  content: "\f394";
}
.icon-skyatlas:before {
  content: "\f395";
}
.icon-level-down:before {
  content: "\f396";
}
.icon-mobile-phone:before {
  content: "\f397";
}
.icon-check-square-o:before {
  content: "\f398";
}
.icon-hand-spock-o:before {
  content: "\f399";
}
.icon-leanpub:before {
  content: "\f39a";
}
.icon-arrow-circle-left:before {
  content: "\f39b";
}
.icon-exclamation-triangle:before {
  content: "\f39c";
}
.icon-gift:before {
  content: "\f39d";
}
.icon-cogs:before {
  content: "\f39e";
}
.icon-signal:before {
  content: "\f39f";
}
.icon-frown-o:before {
  content: "\f3a0";
}
.icon-opera:before {
  content: "\f3a1";
}
.icon-battery-empty:before {
  content: "\f3a2";
}
.icon-chevron-circle-left:before {
  content: "\f3a3";
}
.icon-university:before {
  content: "\f3a4";
}
.icon-sitemap:before {
  content: "\f3a5";
}
.icon-external-link-square:before {
  content: "\f3a6";
}
.icon-google:before {
  content: "\f3a7";
}
.icon-volume-off:before {
  content: "\f3a8";
}
.icon-twitter:before {
  content: "\f3a9";
}
.icon-battery-full:before {
  content: "\f3aa";
}
.icon-hand-o-left:before {
  content: "\f3ab";
}
.icon-phone:before {
  content: "\f3ac";
}
.icon-mars-double:before {
  content: "\f3ad";
}
.icon-maxcdn:before {
  content: "\f3ae";
}
.icon-hand-peace-o:before {
  content: "\f3af";
}
.icon-lastfm-square:before {
  content: "\f3b0";
}
.icon-home:before {
  content: "\f3b1";
}
.icon-empire:before {
  content: "\f3b2";
}
.icon-server:before {
  content: "\f3b3";
}
.icon-search-minus:before {
  content: "\f3b4";
}
.icon-pied-piper-alt:before {
  content: "\f3b5";
}
.icon-leaf:before {
  content: "\f3b6";
}
.icon-exclamation-circle:before {
  content: "\f3b7";
}
.icon-comments:before {
  content: "\f3b8";
}
.icon-cny:before {
  content: "\f3b9";
}
.icon-facebook-official:before {
  content: "\f3ba";
}
.icon-clock-o:before {
  content: "\f3bb";
}
.icon-hand-scissors-o:before {
  content: "\f3bc";
}
.icon-tumblr-square:before {
  content: "\f3bd";
}
.icon-rub:before {
  content: "\f3be";
}
.icon-chevron-circle-up:before {
  content: "\f3bf";
}
.icon-opencart:before {
  content: "\f3c0";
}
.icon-barcode:before {
  content: "\f3c1";
}
.icon-vimeo-square:before {
  content: "\f3c2";
}
.icon-battery-1:before {
  content: "\f3c3";
}
.icon-arrow-circle-right:before {
  content: "\f3c4";
}
.icon-bolt:before {
  content: "\f3c5";
}
.icon-paste:before {
  content: "\f3c6";
}
.icon-hdd-o:before {
  content: "\f3c7";
}
.icon-plug:before {
  content: "\f3c8";
}
.icon-industry:before {
  content: "\f3c9";
}
.icon-map-o:before {
  content: "\f3ca";
}
.icon-krw:before {
  content: "\f3cb";
}
.icon-joomla:before {
  content: "\f3cc";
}
.icon-sun-o:before {
  content: "\f3cd";
}
.icon-plus:before {
  content: "\f3ce";
}
.icon-life-buoy:before {
  content: "\f3cf";
}
.icon-play-circle-o:before {
  content: "\f3d0";
}
.icon-mars-stroke:before {
  content: "\f3d1";
}
.icon-road:before {
  content: "\f3d2";
}
.icon-volume-down:before {
  content: "\f3d3";
}
.icon-question-circle:before {
  content: "\f3d4";
}
.icon-image:before {
  content: "\f3d5";
}
.icon-angle-double-right:before {
  content: "\f3d6";
}
.icon-reply-all:before {
  content: "\f3d7";
}
.icon-inbox:before {
  content: "\f3d8";
}
.icon-female:before {
  content: "\f3d9";
}
.icon-gavel:before {
  content: "\f3da";
}
.icon-life-bouy:before {
  content: "\f3db";
}
.icon-jsfiddle:before {
  content: "\f3dc";
}
.icon-git:before {
  content: "\f3dd";
}
.icon-share-square:before {
  content: "\f3de";
}
.icon-question:before {
  content: "\f3df";
}
.icon-wordpress:before {
  content: "\f3e0";
}
.icon-italic:before {
  content: "\f3e1";
}
.icon-forward:before {
  content: "\f3e2";
}
.icon-steam-square:before {
  content: "\f3e3";
}
.icon-sort-numeric-desc:before {
  content: "\f3e4";
}
.icon-video-camera:before {
  content: "\f3e5";
}
.icon-thumbs-down:before {
  content: "\f3e6";
}
.icon-medium:before {
  content: "\f3e7";
}
.icon-chevron-right:before {
  content: "\f3e8";
}
.icon-bus:before {
  content: "\f3e9";
}
.icon-registered:before {
  content: "\f3ea";
}
.icon-mars:before {
  content: "\f3eb";
}
.icon-angle-down:before {
  content: "\f3ec";
}
.icon-link:before {
  content: "\f3ed";
}
.icon-eyedropper:before {
  content: "\f3ee";
}
.icon-mail-reply:before {
  content: "\f3ef";
}
.icon-bug:before {
  content: "\f3f0";
}
.icon-angellist:before {
  content: "\f3f1";
}
.icon-chain-broken:before {
  content: "\f3f2";
}
.icon-info:before {
  content: "\f3f3";
}
.icon-tumblr:before {
  content: "\f3f4";
}
.icon-line-chart:before {
  content: "\f3f5";
}
.icon-long-arrow-up:before {
  content: "\f3f6";
}
.icon-simplybuilt:before {
  content: "\f3f7";
}
.icon-trash:before {
  content: "\f3f8";
}
.icon-paint-brush:before {
  content: "\f3f9";
}
.icon-windows:before {
  content: "\f3fa";
}
.icon-calendar-o:before {
  content: "\f3fb";
}
.icon-reorder:before {
  content: "\f3fc";
}
.icon-suitcase:before {
  content: "\f3fd";
}
.icon-file-picture-o:before {
  content: "\f3fe";
}
.icon-arrow-circle-o-up:before {
  content: "\f3ff";
}
.icon-arrow-up:before {
  content: "\f400";
}
.icon-venus-mars:before {
  content: "\f401";
}
.icon-shopping-cart:before {
  content: "\f402";
}
.icon-files-o:before {
  content: "\f403";
}
.icon-th-large:before {
  content: "\f404";
}
.icon-warning:before {
  content: "\f405";
}
.icon-at:before {
  content: "\f406";
}
.icon-file:before {
  content: "\f407";
}
.icon-star-half:before {
  content: "\f408";
}
.icon-futbol-o:before {
  content: "\f409";
}
.icon-flag-checkered:before {
  content: "\f40a";
}
.icon-genderless:before {
  content: "\f40b";
}
.icon-archive:before {
  content: "\f40c";
}
.icon-film:before {
  content: "\f40d";
}
.icon-power-off:before {
  content: "\f40e";
}
.icon-heart-o:before {
  content: "\f40f";
}
.icon-google-wallet:before {
  content: "\f410";
}
.icon-book:before {
  content: "\f411";
}
.icon-transgender:before {
  content: "\f412";
}
.icon-cloud-upload:before {
  content: "\f413";
}
.icon-file-powerpoint-o:before {
  content: "\f414";
}
.icon-openid:before {
  content: "\f415";
}
.icon-repeat:before {
  content: "\f416";
}
.icon-star:before {
  content: "\f417";
}
.icon-users:before {
  content: "\f418";
}
.icon-transgender-alt:before {
  content: "\f419";
}
.icon-asterisk:before {
  content: "\f41a";
}
.icon-plus-circle:before {
  content: "\f41b";
}
.icon-cart-arrow-down:before {
  content: "\f41c";
}
.icon-wechat:before {
  content: "\f41d";
}
.icon-life-saver:before {
  content: "\f41e";
}
.icon-dropbox:before {
  content: "\f41f";
}
.icon-wikipedia-w:before {
  content: "\f420";
}
.icon-newspaper-o:before {
  content: "\f421";
}
.icon-building:before {
  content: "\f422";
}
.icon-bitbucket:before {
  content: "\f423";
}
.icon-yelp:before {
  content: "\f424";
}
.icon-neuter:before {
  content: "\f425";
}
.icon-behance-square:before {
  content: "\f426";
}
.icon-wifi:before {
  content: "\f427";
}
.icon-youtube:before {
  content: "\f428";
}
.icon-angle-double-down:before {
  content: "\f429";
}
.icon-sort-alpha-asc:before {
  content: "\f42a";
}
.icon-area-chart:before {
  content: "\f42b";
}
.icon-chevron-up:before {
  content: "\f42c";
}
.icon-stethoscope:before {
  content: "\f42d";
}
.icon-step-forward:before {
  content: "\f42e";
}
.icon-backward:before {
  content: "\f42f";
}
.icon-caret-up:before {
  content: "\e900";
}
.icon-caret-down:before {
  content: "\e901";
}
